.component-footer {
  &:hover {
    text-decoration: none;
  }

  margin-top: 18px;

  font-weight: 300;
  font-size: 14px;
  color: #979797;
}

.footer-description {
  &:hover {
    text-decoration: none;
  }

  font-weight: 300;
  font-size: 14px;
  color: #979797;
}
